html
{
  scroll-behavior: smooth;
  opacity: 1;
  padding: 0;
  margin: 0;
}
:root
{
--primary-color:rgb(244, 124, 19);
--secondary-color:rgb(253, 253, 253);
--tertiary-color:rgb(0, 255, 0);
--text-color:black;
--text-color2:rgb(255, 255, 255);
--border-radius:0px;
--box-shadow:1px 2px 1px black;
--text-style:normal;
--text-decoration:none;
--header-footer--bg:#333C51;
--font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
padding: 20px;
background: rgb(0, 0, 0);font-family: var(--font);

}
main{
  background: rgb(255, 255, 255);font-family: var(--font);
}


/* Header ----------------------------------------------------------*/
header
{

    position:sticky;
    top: 0px;
    z-index: 100;
   background-color:rgba(10 ,0,0,0.5);
   width: 100%;
   right:0;
   overflow: hidden;
  backdrop-filter:blur(95px);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#Mobmenu
{
    display:none;
    font-size:30px;
    color: rgb(255, 255, 255);
    padding: 0;
    z-index: 100;
    position: absolute;

}
.Mmenu
{
    display:none;
 }


#Logo{
  width: 250px;
  height: 80px;


}

header button{
    height: 50px;
    width: 10vw;
    font-size: 20px;
    padding: 2px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline;
    float: right;
    outline: none;
    border: 0px;
    background-color: transparent;
    color: aliceblue;
    font-family:var(--font);
  }
/* Header ----------------------------------------------------------end*/

/* Home Page First Section ------------------------------------------ */
.SC1{

    height: 600px;
    background-color: rgb(158, 152, 38, 0.5);



}

/* Home Page First Section ------------------------------------------end*/


.SC1T,.SC2T,.SC3T{
    width: 100%;
    height: auto;
    display: block;
    /* border: 1px solid; */
}#TMU{
    /* height: 200px;
    width: 200px; */

    scroll-behavior: smooth;
    margin-left: 100px;
}

#Heading{
    font-size:70px;
    margin-top: 0;
    top: 0;
    color: rgb(36, 30, 52);
    text-shadow: 1px 1px 2px black;
    font-family: "Ponnala", system-ui;
    padding-top: 0;
    padding-left: 30px;


}#Timebtn{
  height: 70px;
  width: 180px;
  margin-top: 10px;
  right: 50px;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  color: #230e09;
  text-shadow:1px 0px 1px black;
  border: none;
  backdrop-filter: blur(45px);
  background-color:transparent;
}  #pplogo
  {
    height: 80%;
    width: 80%;

  }

/* Home Page second Section for Notes ------------------------------------------  */
.SC2{
    height: auto;
    width: 100%;

}
i{
    top: 0;
    padding: 12px;
    font-size: 20px;
    padding-bottom: 10px;
    background-color:transparent;
    backdrop-filter: blur(25px);
    border-radius: 49%;
    /* border: 2px solid black; */

}.SC2T,.SC3T h3{
    /* background-color: aqua; */
    text-align: center;
    font-size: 25px;



}.SC2T li{
    color: rgb(14, 13, 13);
    font-size: 25px;
    /* list-style-image: url(RA.png); */
    list-style-type: none;
    padding-left: 15px;
    list-style-position: inside;
    margin-top: 12px;
    text-align: left;

}.SC2T li:hover{

    background-color: rgb(103, 221, 248);
}
a{
    color:rgb(0, 0, 0);
    margin-top: 0;
}
h3 a:hover{
    color:rgb(14, 245, 30);
    margin-top: 0;
}

.SC22
{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    background-color: rgb(4, 40, 46);
    padding: 20px 0;
}.SC22 h2{
    color: wheat;
    font-size: 30px;
    margin-bottom: 10px;
}.SC22 #CXbtn{
    height: 60px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 197, 88);
    border: none;
    border-radius: 10px;
}.SC22 #CXbtn:hover{
    background-color: rgb(0, 123, 15);
}

/* Section Three For Previous Year QuestionS links  ---------------------------------------------------*/

.SC3{
    width: 100%;
    height: auto;



}.SC3T li{
    background-color: rgb(4, 40, 46);
    margin-top: 12px;
    text-align: center;
    font-size: 25px;
    height: 80px;
    border-radius:20px;
    list-style-type: none;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-right:25px;
    color: wheat;
} .SC3T li:hover{
    background-image: linear-gradient(to left,red,black,black,red);
}.SC3T a{
    text-decoration: none;
}

/* Section Three For Previous Year QuestionS links =--------------------------------------------------end */




/* Section  four For about  -------------------------------------------------------------------------*/
.SC4{
    height: auto;
    width: 100%;
    margin-bottom: 30px;


}

.flip-box {
    width: 500px;
    height: 550px;
    margin-left:10%;
    float:left;
    display:block;
    color: black;
  }

  .flip-box-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align:left;
    padding-left: 10px;
    font-size: 25px;
  }

  input[type=text],input[type=email],textarea{
    width: 350px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }input[type=submit]
  {
    height: 40px;
    width: 100px;
    font-size: 20px;
    background-color: gray;
  }input[type=submit]:hover
  {
    background-color: rgb(26, 197, 88);
  }.Cimg{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 28px black;
  }.Cimg:hover{
   transform: scale(1.2);
    box-shadow: 2px 2px 28px rgb(7, 248, 15);
  }

  /* Section Four for About  ------------------------------------------------------------------------end-*/

  /* Section  five  For reference Links  ----------------------------------------------------------------*/
  .SC5{
    width: 100%;
    height:auto;

  }.SC5 a{
    font-size: 25px;
    columns: black;
   padding: 10px 15px;
    line-height: 55px;
    text-decoration: none;
  }.SC5 a:hover{
    text-decoration: overline;
  }
  /* Section  five  For reference Links  ------------------------------------------------------------------end-*/

  /* Section  six  For footer  --------------------------------------------------------------------------------*/

  .SC6{
    width: 100%;
    height:auto;
    background:var(--header-footer--bg);
    display: flex;
    padding: 0;


  }.SC6 .foter-div1

  {
    color: var(--text-color2);
    width: 30%;
    height: 100%;
    margin:0 1.66%;
    padding: 25px;
  }

  .SC6 .foter-div1 a
  {
display: block;
padding: 10px 0;
font-size:20px;
text-decoration: var(--text-decoration);
color: var(--text-color2);
transition: 0.5s ease-in-out;

  }

    .SC6 .foter-div1 a:hover
  {
color: #798193;
  }
  /* Section  six for footer  ------------------------------------------------------------------------end-----*/


/* Mobiles Responsive  */


  @media only screen and (max-width:800px)
   {

    body
    {
      margin: 0;
      padding: 0px;
      font-size: 5px;
      overflow-x: hidden;

    }
    main
    {

      min-width:100vw;
      width: 100%;
      overflow-x: hidden;
      height: auto;
      display: block;
      font-size: 10px;
      position: absolute;

    }
    header

    {
height: 80px;
width: 100vw;
background:var(--header-footer--bg);
margin: 0;
z-index: 999;

    }

    #Logo{
      width:60%;
      height:100%;
      background-color:transparent;
      margin: 0;
      border: none;


    }
    header button{

      display:none;



  }#Mobmenu{
    display:block;
    font-size:40px;
    color: rgb(255, 255, 255);
    padding: 0;
    z-index: 1000;
    height: 25px;
    width: 50px;
    top: -15px;
    right: 10px;

  }

  .Mmenu{
    height:auto;
    width:100vw;
    z-index: 100;
    background-color:rgb(255, 255, 255);
    backdrop-filter: blur(45px);
    display:none;
    padding: 20px 0;
    position:fixed;


  }
  .Mmenu a{
    text-decoration: none;
    text-align: left;
    padding: 0;
  }

  .Mmenu button {
    background-color:gray;
    display: block;
    margin-top:10px;
    height: 60px;
    width:100vw;
    font-size: 25px;
    color: rgb(10, 4, 4);
    outline: 0;
    border: none;
    backdrop-filter: blur(45px);

    text-decoration: none;

  }#Cbtn{
    background-color:red;
  }


  .SC1{
    height: auto;
    width:100vw;
    display: block;

}.SC1T td

{
  display: block;
  width: 100vw;
}#Heading

{

  font-size: 40px;
}


#Timebtn{
  height: 70px;
  width: 180px;
  font-size: 28px;
  font-weight: bold;
  color: #230e09;
  border: none;
  display: none;


  }#TMU{

    margin-left:30px;
  }

  #pplogo
  {
    height: 90%;
    width: 90%;
    margin: 5%;
  }
/*
  Notes Section  -----------------------------------------------------*/
  .SC2{

    width:100vw;
    height: auto;
    overflow-x: hidden;
    font-size: 45px;
    display: block;
    padding: 0;
}.SC2T td

{
  width: 100vw;
  display: block;
  padding: 0px
}
.SC2T td ul

{
  width: 100vw;
  display: block;
  padding: 0;
}

/* PQP section ------------------------------------------------ */
.SC3{
  height:auto;
  width:100vw;
  overflow-x: hidden;


}.SC3T td
{
  width:100vw;
  display: block;

}
.SC3T td ul
{
  width:100vw;
  display: block;
  padding:5px 15px;
  margin: 0;

}
/*
about Section  ----------------------------------*/

.SC4{
  height: auto;
  min-width:100vw;
  font-size: 25px;
  padding: 0 15px;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0;
  background-color: transparent;;
}.flip-box-inner

{
  width:90%;
}

.flip-box {
  width:100vw;
  display: block;
  height:800px;
  display: block;
  margin: 0;
 }
  input[type=text],input[type=email],textarea{
    width:80%;
    margin: 10px 5%;
    height:40px;
    font-size: 15px;
    border: 8px double black;
    border-bottom: 5px solid black;

  }

  input[type=submit]
  {
    height: 50px;
    width:90%;
    margin:auto 5%;
    font-size: 20px;
    background-color: rgb(87, 161, 240);
    color: black;
    border:2px solid white;
  }input[type=submit]:hover
  {
    background-color: rgb(26, 197, 88);
  }.Cimg{
    height: 70px;
    width: 70px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 28px black;
  }.Cimg:hover{
   transform: scale(1.2);
    box-shadow: 2px 2px 28px rgb(7, 248, 15);
  }
/*
Reference Section  ------------------------------------------------------- */

.SC5{
  height:auto;
  width:100vw;
  display: flex;
  flex-wrap: wrap;



}.SC5 a
{
  padding: 0 2px;
}


/* Footer Section  ------------------------------------------------------- */

  .SC6{
    height:auto;
    width:100vw;
    font-size: 15px;
    display: block;
    padding: 0;



  }.SC6 .foter-div1

  {
    width: 100vw;
    margin:0;
    padding:0px;
    margin-top: 10px;


  }.foter-div1 p , .foter-div1 h3 , .foter-div1 img , .foter-div1 a
  {
       padding-left: 25px;
  }
  .SC6 .foter-div1 img

  {
    width: 50%;
  }

  .SC6 .foter-div1 a
  {
display: block;
padding: 10px 20px;


  }
 .SC6 .foter-div1 span

 {  font-size: 15px;
  text-align: center;
   display: block;
    padding: 10px 0;
    margin-top: 20px;
    color: var(--text-color2);

}



   }

@media only screen and (min-width: 900px) and (max-width: 1600px) {
  body {

    font-size: 18px;
  }

/* Section Three For Previous Year QuestionS links  ---------------------------------------------------*/

.SC3{
    width: 100%;
    height: auto;
    display: flex;
    font-size: 10px;
    padding: 0;
    margin: 0;



}.SC3T td{

  width: 10%;


} .SC3T li{
font-size: 20px;
    background-color: rgb(4, 40, 46);
    margin-top: 12px;
    text-align: center;
    font-size: 20px;
    height: 50px;
    width: 60%;
    margin: 10px 20%;

}.SC3T a{
    text-decoration: none;
    font-size: 10px;
}

/* Section Three For Previous Year QuestionS links =--------------------------------------------------end */

/* Section  four For about  -------------------------------------------------------------------------*/
.SC4{
    height: auto;
    width: 100%;
    background-color: transparent;
    margin-bottom:0;
    display: flex;
    padding:0;
}

.flip-box {
    width:30%;
    height:450px;
    perspective: 1000px;
    /* background-color: rgb(101, 24, 24); */
    margin-left:10%;
    float:left;
    display:block;
    margin: 0 10%;

  }.flip-box-back h1{
    height: 50px auto;
    width:100%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 0;

  }

  input[type=text],input[type=email],textarea{
    width: 350px;
    height: 50px;
    font-size: 20px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
  }input[type=submit]
  {
    height: 40px;
    width: 100px;
    font-size: 20px;
    background-color: gray;
  }input[type=submit]:hover
  {
    background-color: rgb(26, 197, 88);
  }.flip-box-front

  {
    color: white;
  }
  .flip-box-front p

  {
    padding: 20px;
    text-align: left;
  }

  /* Section Four for About  ------------------------------------------------------------------------end-*/
  /* Section  five  For reference Links  ----------------------------------------------------------------*/
  .SC5{
    margin-top:30px;
    width: 100%;
    height:300px;
    position: relative;

  }.SC5 a{
    font-size: 25px;
    columns: black;
    padding: 50px 15px;
    margin: 25px 0;
    line-height: 55px;
    text-decoration: none;
  }
  /* Section  five  For reference Links  ------------------------------------------------------------------end-*/
}
